<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97682894-1 "></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%=title%></title>
</head>

<body>
	<!--Import jQuery before materialize.js-->

  	<h1>Webpack Ready to use.</h1>
  	<p>Change any color to see if live reload is working.</p>
	
</body>
</html>